/*----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 300;
    color:white;
    font-size: 20px;
}

.item {
    background-color:gray;
    padding: 16px;
    border:1px solid rgb(255, 255, 255);
}

.main1 {
    display:flex;
    width:100vw;
} 

.container {
    display:flex;
    height:80vh;
    flex-wrap: wrap;
}

.right-menu {
    display:flex;
    min-width:40vw;
}

.header {
    min-width:60vw;
}

.footer-content {
    height:20vh;
}

.menu {
    width: 100%;
}

.article {
    flex-direction: row;
    flex-grow: 1;
}
