/*----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
-----------------*/
body {
    font-weight: 300;
    color:white;
    font-size: 20px;
}

.item {
    background-color:gray;
    padding: 16px;
    border:1px solid rgb(255, 255, 255);
}

.item-2  {
    background-color:rgb(153, 48, 48);
    padding: 16px;
    border:1px solid rgb(255, 255, 255);
}

.item-3 {  
    background-color: rgb(62, 204, 44);
    padding: 16px;
    border:1px solid rgb(255, 255, 255);
}
 
/*----------------
    LAYOUT-1
-----------------*/
.main1 {
    display:flex;
    width:100vw;
} 

.container {
    display:flex;
    height:80vh;
    flex-wrap: wrap;
}

.right-menu {
    display:flex;
    min-width:40vw;
}

.header {
    min-width:60vw;
}

.footer-content {
    height:20vh;
}

.menu {
    width: 100%;
}

.article {
    flex-grow: 1;
}

.footer {
    margin-bottom: 10px;
}

/*----------------
    LAYOUT-2
-----------------*/

.item-2.header-2 {
    min-height: 20vh;
}

.main-2 {
    display: flex;
    min-height: 60vh;
}

.nav-menu, .aside {
    flex-grow: 1;
}

.article-2 {
    flex-grow: 3;
}

.footer-2 {
    min-height: 20vh;
    margin-bottom: 30px;
}

/*----------------
    LAYOUT-3
-----------------*/
.header-3 {
    display: flex;
}

.header-left-3, .header-right-3 {
    min-height: 40vh;
}

.header-left-3 {
    flex-grow: 2;
}

.header-right-3 {
    flex-grow: 1;
}

.main-3 {
    display: flex;
    width: 100vw;
    min-height: 60vh;
    flex-wrap: wrap;
}

.row-3 {
    width: 40%;
    flex-grow: 1;
    
}
.menu-3 {
    width: 50%;
    min-height: 60vh;
    display: flex;
}
